body{
    margin: 0;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.title {
    font-size: 4vw;
    font-weight: bold;
    align-items: center;
    }


.container {
    background-color: rgba(255, 255, 255, 0);
    min-height: 100vh; 
    width: 100vh;
    font-family: "Nanum Pen Script", cursive;
    font-size: 15pt;


}

.task-area {
    border: 5px solid peachpuff;
    width: 500px;
    height: 550px;
    background-color: rgb(241, 238, 203);
    border-radius: 30px;



}



.task-tabs{
    display: flex;
    border-bottom: 1px solid  peachpuff;
    position: relative;
}

.task-tabs div {
    padding:1em;
}

#under-line {
    height: 4px;
    background-color: rgb(14, 105, 60);
    position: absolute;
    width: 80px;
    left: 0px;
    top: 70px;
    padding: 0px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done{
    text-decoration: line-through;
    background-color: rgb(201, 221, 154);
    color: white;
    border: none;
    padding: 0.5px 10px;
    border-radius: 5px;
}

.task-tabs div{
    cursor: pointer;
    margin-right: 50px;
}


.task-list{
    list-style-type: disc;
    padding-left: 20px;
}

#task-input {
    width: 300px;
    height: 40px;
    text-align: center;
}

